# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore environment files
.env
.env.local
.env.development
.env.production